
body{
    background: url("kindpng_982524.png");
    background-repeat: no-repeat;
    
}
.form-group div{
    margin: 30px;
   opacity: 0.8;
   background-color: #ffffff;
   filter: alpha(opacity=60);
}

#btn {
    padding: 10px;
    max-resolution: 10px;
    opacity: 0.9;
    filter: alpha(opacity=80);
}

#bt{
    opacity: 0.5;

}